NODE_RED/flow.json
[
    {
        "id": "f6d269acbe848526",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4d2c83531737aa99",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b4318d08cade83ce",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5e52fae6b36045fd",
        "type": "ui_group",
        "name": "Default",
        "tab": "4d2c83531737aa99",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "70428623eea696b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "128246149edcd9cb",
        "type": "debug",
        "z": "f6d269acbe848526",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "75826af906661e0f",
        "type": "ui_switch",
        "z": "f6d269acbe848526",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "5e52fae6b36045fd",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "LED",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "128246149edcd9cb",
                "d81eef4d8d6b3982"
            ]
        ]
    },
    {
        "id": "3dcd553fd46d7583",
        "type": "mqtt in",
        "z": "f6d269acbe848526",
        "name": "",
        "topic": "ANALOG",
        "qos": "0",
        "datatype": "auto",
        "broker": "70428623eea696b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "66c9cbccf0f73e74",
                "36a04bddca3a58ee"
            ]
        ]
    },
    {
        "id": "36a04bddca3a58ee",
        "type": "debug",
        "z": "f6d269acbe848526",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "66c9cbccf0f73e74",
        "type": "ui_gauge",
        "z": "f6d269acbe848526",
        "name": "",
        "group": "5e52fae6b36045fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 580,
        "wires": []
    },
    {
        "id": "ec83ed8e52cac92b",
        "type": "mqtt in",
        "z": "f6d269acbe848526",
        "name": "",
        "topic": "WRITE",
        "qos": "0",
        "datatype": "auto",
        "broker": "70428623eea696b1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 300,
        "wires": [
            [
                "c35f368953ad1c98",
                "3fd8ad29ef8e81ed"
            ]
        ]
    },
    {
        "id": "c35f368953ad1c98",
        "type": "ui_text",
        "z": "f6d269acbe848526",
        "group": "5e52fae6b36045fd",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "3fd8ad29ef8e81ed",
        "type": "debug",
        "z": "f6d269acbe848526",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "d81eef4d8d6b3982",
        "type": "mqtt out",
        "z": "f6d269acbe848526",
        "name": "",
        "topic": "READ",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "70428623eea696b1",
        "x": 670,
        "y": 60,
        "wires": []
    }
]